<div class="content">
  <mat-list>
    <mat-list-item>
        <mat-icon matListIcon>account_box</mat-icon>
        <mat-form-field>
            <mat-label>Enter any unnecessary user</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" (keydown.enter)="remove()">
        </mat-form-field>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button color="primary" (click)="remove()">Remove</button>
    </mat-list-item>
    <mat-list-item>
      <h3 *ngIf="result !== ''">Number of users deleted: {{result}}</h3>
    </mat-list-item>
  </mat-list>
</div>

