.content {
  background-image: url(../assets/bg.jpg);
  background-position: center;
  height: 100%;
  }

.mat-drawer-container {
  /*opacity: 0.8;*/
  height: 100%;
}

.forms {
  min-width: 500px;
  margin-left: 10%;
  margin-right: 10%;
}

.example-sidenav {
  padding: 30px;
}
